
<footer class="main-footer">
    <div class="d-flex align-items-center">
        <span class="footer-link-header">Useful Links &nbsp; - &nbsp;</span>
        <div class="footer-links">
            <a [href]="InstaUrl" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram"></i></a>
            <a [href]="FbUrl" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook-f"></i></a>
            <a [href]="WhatsAppUrl" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </div>
    <div class="addBlock">
        <span><i class="fa-solid fa-location-dot"></i> Rear of 36 Queensbury Station Parade, Edgware, HA8 5NN</span>
    </div>
</footer>