<main class="stocksDet commonContentHeight">
    <div class="card my-3 stocksCard food-card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span class="fs-6 fw-bolder text-muted">Stocks List</span>
          @if (ShowAddItemBtn) {
            <button class="btn btn-outline-primary d-flex align-items-center" (click)="onAddItem()">
                <i class="fa-solid fa-layer-group"></i>
                <span class="d-inline-block ms-2 fw-bold">Add item</span>
            </button>
          }
          @else {
            <button class="btn btn-outline-secondary d-flex align-items-center" (click)="this.ShowAddItemBtn = true;PreviousData = null">
                <i class="fa-solid fa-layer-group"></i>
                <span class="d-inline-block ms-2 fw-bold">Cancel</span>
            </button>
          }
        </div>
        <div class="card-body">
            @if (ShowAddItemBtn) {
                <div class="overflow-auto">
                    <table class="table table-bordered table-striped table-responsive table-hover admin-table">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Total Price</th>
                            <th>Total Items Purchased</th>
                            <th>Payment Due to Employee</th>
                          </tr>
                        </thead>
                        <tbody>
                          @for (item of StocksListToDisplay; track $index) {
                            <tr (click)="selectStockItem($index)">
                              <td>{{ item.date }}</td>
                              <td>{{ item.totalPrice }}</td>
                              <td>{{ item.totalItems }}</td>
                              <td>{{ item.paymentDue }}</td>
                            </tr>
                          }
                        </tbody>
                    </table>
                </div>
            }
            @else {
                <form [formGroup]="StockDetailForm" (submit)="onSubmit()">
                    <span class="inputLabel">Purchased Date</span>
                    <div class="input-group">
                        <input type="text" formControlName="date" maxlength="10" class="form-control" placeholder="dd/mm/yyyy">
                    </div>
                    <div formArrayName="stocks">
                        <span class="inputLabel mt-3">Stocks</span>
                        <div class="p-3 mt-3 border dynamicInputWrapper" *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                            @if (i > 0) {
                                <div class="d-flex justify-content-end">
                                    <button (click)="removeItem(i)" type="button" class="btn btn-danger deleteBtn"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            }
                            <div>
                                <span class="inputLabel">Item Name</span>
                                <div class="input-group">
                                    <input type="text" formControlName="name" class="form-control" maxlength="10" placeholder="Item Name">
                                </div>
                            </div>
                            <div class="mt-3">
                                <span class="inputLabel">Quantity</span>
                                <div class="input-group">
                                    <input type="text" formControlName="quantity" class="form-control">
                                </div>
                            </div>
                            <div class="mt-3">
                                <span class="inputLabel">Price</span>
                                <div class="input-group">
                                    <input type="text" formControlName="price" class="form-control" placeholder="100">
                                </div>
                            </div>
                            <div class="mt-3">
                                <span class="inputLabel">Purchased By</span>
                                <div class="input-group">
                                    <input type="text" formControlName="purchaseby" class="form-control" placeholder="Purchased By">
                                </div>
                            </div>
                            <div class="mt-3">
                                <span class="inputLabel">Paid by</span>
                                <select formControlName="paidby" class="form-select text-capitalize">
                                    <option *ngFor="let option of PaidByOpt" [value]="option">
                                        {{ option }}
                                    </option>
                                </select>
                            </div>
                            <div class="mt-3">
                                <span class="inputLabel">Refund Status</span>
                                <select formControlName="refundstat" class="form-select text-capitalize">
                                    <option *ngFor="let option of RefundStat" [value]="option">
                                        {{ option }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="mt-3">
                            <button type="button" class="btn btn-primary" (click)="addItem('', '1', '', this.PaidByOpt[0], '', this.RefundStat[0])">Add item</button>
                        </div>
                    </div>
                  
                    <div class="d-flex justify-content-end align-items-center pt-3 border-top mt-3">
                        @if (IsEditMode) {
                            <button type="submit" class="btn btn-danger me-3" (click)="deleteRecord()">Delete</button>
                        }
                        <button type="submit" [ngClass]="{'disabled': !StockDetailForm.valid}" class="btn btn-secondary">{{ IsEditMode ? 'Update' : 'Submit'}}</button>
                    </div>
                </form>
            }
        </div>
      </div>
</main>

